<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Request</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/inputField.css}" href="../../static/css/inputField.css">
</head>

<!--/*@thymesVar id="initialRequest" type="ussr.party.kabachki.partyportal.dto.InitialRequestDTO"*/-->

<body>
<div th:insert="~{fragments/navbar}" class="row"></div>
<div>
    <h2>Initial request</h2>
    <form th:object="${initialRequest}" method="post" action="new">
        <div class="form-group has-feedback">
            <input th:replace="~{fragments/inputField :: input ('Initiator', 'initiator', 'disabledtext')}"/>
            <input th:replace="~{fragments/inputField :: input ('Title', 'requestTitle', 'text')}"/>
            <input th:replace="~{fragments/inputField :: input ('Description', 'description', 'textarea')}"/>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn" type="submit" th:text="'Submit'"></button>
            </div>
        </div>
    </form>
</div>
</body>
</html>