.form-group input {
    font-size: 20px;
    margin-left: 15px;
}

.form-group label {
    font-size: 20px;
    margin-left: 15px;
}
.form-group textarea {
    font-size: 20px;
    margin-left: 15px;
}

h2 {
    margin-left: 15px;
}

button {
    margin-left: 15px;
    font-size: 20px;
}